blockquote,
.page .box-1,
.page .box-2,
.blog-page .box,
.pt-about .inter-icon,
.pt-about .testimonial-item,
.pt-contact #map,
.blog-list .blog-post .content .thumbnail,
.blog-page .blog-comments ul li ul {
	-webkit-border-radius: 10px;
			border-radius: 10px;
}

.btn-st-item,
.blog-list .side-left .tags ul li a {
	-webkit-border-radius: 20px;
			border-radius: 20px;
}

.pt-portfolio .portfolio-filter ul,
.pt-portfolio .portfolio-filter ul li.active {
	-webkit-border-radius: 50px;
			border-radius: 50px;
}

.pt-about .info .photo img {
	-webkit-border-radius: 50%;
			border-radius: 50%;
}

blockquote:after,
blockquote:before,
.page .header-page span:after,
.page .header-page span:before,
.page .header-page span.bounce:before,
.page .box-1:after,
.page .box-2:after,
.blog-page .box:after,
.pt-about .info .photo:after,
.pt-about .testimonial-item:after,
.pt-contact #map:after,
.page .box-2:after,
.page .box-1:before,
.page .box-2:before,
.blog-page .box:before,
.pt-about .info .photo:before,
.pt-about .testimonial-item:before,
.pt-contact #map:before,
.page .box-2:before,
.pt-about .inter-icon:after,
.btn-st-item:after,
.pt-about .inter-icon:before,
.btn-st-item:before,
.pt-portfolio .portfolio-filter ul:after,
.pt-portfolio .portfolio-filter ul:before,
.blog-list .blog-post .content .thumbnail:after,
.blog-list .blog-post .content .thumbnail:before,
.blog-list .side-left .tags ul li a:after,
.blog-list .side-left .tags ul li a:before {
	display: none;
}

.page .header-page span,
.page .header-page span.bounce {
	position: absolute;
	width: 20px;
	height: 20px;
	left: calc(50% - 10px);
	margin-top: 12px;
	-webkit-border-radius: 50%;
			border-radius: 50%;
}